<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset=" UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Job List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body style="background-color: lightskyblue">
<div class="container" >
    <div class="jumbotron">
 <h1 style="text-align: center">Welcome to Craigslistjobs</h1>
<h3>All Jobs</h3>
<a href="/add">Add a Job</a><br/>
<div th:each="job : ${jobs}" style="background-color: lightblue">
    <hr />
    <h4 th:inline="text"> <b>Job title: </b> [[${job.title}]]</h4>
    <b>Description: </b> <p th:text="${job.description}"></p>
    <b>Author: </b> <p th:text="${job.author}"></p>
    <b>Phone: </b><p th:text="${job.phone}"></p>
    <b>Date posted: </b> <p th:text="${job.postedDate}"></p>

    <a th:href="@{/update/{id}(id=${job.id})}"> Edit this job </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a th:href="@{/delete/{id}(id=${job.id})}"> Delete this job </a>
    <hr />
</div>

    </div>
</div>

</body>
</html>